<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Delete object</title>
</head>
<body>
    <h>Register Delete object </h>

    <p> Are you sure you want to delete</p>

    <ul>
        <li>
            <strong>Email:</strong> {{ object.Email }}<br>
          

        </li>
    </ul>
    <form method="post"action="{% url 'forgot_delete' object.pk %}">

            {% csrf_token %}

        	    <input type="submit" value="Confirm Delete">
        	</form>
        	
         	<p><a href="{% url 'forgot_list' %}">Cancel</a></p>
         	</body>